[Unit]
Description=Immich On-Demand filesystem (%i)

[Service]
Type=exec
ExecStart=/usr/bin/immich-on-demand --profile %i mount
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
RestartPreventExitStatus=78
UMask=0077

[Install]
WantedBy=default.target
