[Unit]
Description=Immich On-Demand filesystem

[Service]
Type=exec
ExecStart=/usr/bin/immich-on-demand mount
Restart=on-failure
RestartSec=5s
UMask=0077

[Install]
WantedBy=default.target
